* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* HEADER */
.logo {
  width: 150px;
  height: 50px;
  position: relative;
  right: -600px; }

.navbar {
  background-color: white !important; }

.nav-item {
  color: black;
  font-family: 'Mulish', sans-serif;
  font-weight: lighter; }

.nav-item:hover {
  text-decoration: underline;
  color: #e8e4df !important;
  font-weight: bold; }

.collapse {
  position: relative;
  left: -130px; }

.header-iconos {
  list-style: none;
  width: 50px;
  position: relative;
  right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.header-iniciotexto {
  position: relative;
  left: 500px;
  letter-spacing: 2px;
  position: relative;
  left: 380px;
  justify-content: center;
  font-weight: lighter; }

.navbar-light {
  background-color: white;
  margin-bottom: 20px; }

.navbarprimera {
  background-color: #e8e4df !important;
  padding-top: -50px; }

header {
  color: black;
  height: 100%;
  box-shadow: whitesmoke;
  padding: 1rem;
  position: relative; }

.header-contenedor {
  max-width: 1200px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header-inicio {
  color: black;
  font-family: 'Mulish', sans-serif;
  font-weight: lighter;
  padding-bottom: -100px;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  background-color: #e8e4df;
  margin-top: -15px; }

.header-menu {
  color: black;
  width: 500px;
  height: 100%;
  background-color: white;
  justify-items: left;
  padding-left: 10px;
  padding-right: 80px;
  margin: 2rem;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  left: -90px; }

.header__menu {
  text-decoration: none;
  color: black;
  transition: 1; }

.header__menu:hover {
  text-decoration: underline;
  color: #e8e4df;
  font-weight: bold; }

.header_logo {
  position: relative;
  right: 250px; }

.header_usuario {
  position: relative;
  right: -200px; }

/* BODY */
body {
  font-family: "Mulish", sans-serif;
  background-color: white; }

.banner {
  width: 1500px;
  height: 800px; }

/* SECCION NEW IN */
.container {
  position: relative;
  right: -100px; }

.container-texto {
  position: relative;
  right: -100px; }

.intimates {
  text-align: center;
  padding-top: 30px;
  font-size: 22px; }

.intimates_imagenes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.intimates_theo {
  position: relative;
  left: -25px;
  font-weight: bold;
  width: 160px;
  height: 200px; }

.intimates_lee {
  position: relative;
  left: -8px;
  font-weight: bold;
  width: 160px;
  height: 200px; }

.intimates_rome {
  position: relative;
  left: 18px;
  font-weight: bold;
  width: 160px;
  height: 200px; }

.intimates_hazel {
  position: relative;
  left: 25px;
  width: 160px;
  height: 200px; }

.intimates_roomie {
  position: relative;
  left: 30px;
  width: 160px;
  height: 200px; }

.intimates_theo_texto {
  position: relative;
  left: -110px; }

.intimates_lee_texto {
  position: relative;
  left: -90px; }

.intimates_rome_texto {
  position: relative;
  left: -70px; }

.intimates_hazel_texto {
  position: relative;
  left: -70px; }

.intimates_roomie_texto {
  position: relative;
  left: -50px; }

/* SECCION EXPLORE THE COLLECTION */
.container-imagenes {
  position: relative;
  right: 10px; }

.imagen-intimates, .imagen-sport, .imagen-sleep {
  width: 430px;
  height: 630px; }

.explore {
  color: black;
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
  text-decoration: underline;
  font-weight: 300; }

.explore_collection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.explore_botones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 80px; }

.img_intimates {
  width: 430px;
  height: 630px; }

.img_sport {
  width: 430px;
  height: 630px; }

.img_sleep {
  width: 430px;
  height: 630px; }

.button_intimates {
  border-style: none;
  font-family: "Mulish", sans-serif;
  letter-spacing: 10px;
  color: whitesmoke;
  font-weight: bolder;
  text-transform: uppercase;
  position: relative;
  top: -390px;
  left: 100px;
  font-size: 30px; }

.button_sport {
  border-style: none;
  font-family: "Mulish", sans-serif;
  letter-spacing: 10px;
  color: whitesmoke;
  font-weight: bolder;
  text-transform: uppercase;
  position: relative;
  top: -390px;
  left: 150px;
  font-size: 30px; }

.button_sleepwear {
  border-style: none;
  font-family: "Mulish", sans-serif;
  letter-spacing: 10px;
  color: whitesmoke;
  font-weight: bolder;
  text-transform: uppercase;
  position: relative;
  top: -390px;
  right: -450px;
  font-size: 30px; }

/* SECCION BLOG */
.card {
  width: 580px; }

.titulo_blog {
  letter-spacing: 3px;
  margin-bottom: 50px;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: 'Mulish', sans-serif;
  font-size: 30px; }

.texto-blog {
  width: 500px;
  height: 150px;
  font-weight: lighter;
  line-height: 30px;
  font-family: 'Mulish', sans-serif;
  font-size: 18px; }

.boton-blog {
  font-family: 'Mulish', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
  width: 200px;
  height: 25px;
  border-radius: 20px;
  border-width: 1px;
  position: relative;
  top: 20px;
  left: 10px;
  border-color: black; }

.boton-blog:hover {
  background-color: white;
  color: black;
  border-color: black; }

.blog_boton {
  font-family: "Mulish", sans-serif;
  text-transform: lowercase;
  letter-spacing: 3px;
  color: black;
  width: 200px;
  height: 25px;
  border-radius: 20px;
  border-width: 1px;
  position: relative;
  top: -480px;
  left: 45px;
  font-size: 10px; }

.fotoblog {
  position: relative;
  left: -100px;
  background-color: wheat;
  width: 600px;
  height: 800px; }

.newsletter {
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
  text-align: center; }

.imgbloque {
  align-items: center;
  text-align: center;
  position: relative;
  bottom: -30px;
  padding-bottom: 10px; }

.imgbloquesegundo {
  align-items: center;
  text-align: center;
  position: relative;
  bottom: -30px; }

.imgfinales {
  background-color: #F2F2EC;
  padding-bottom: 100px;
  height: 500px; }

.blog {
  background-color: #f7f9fa;
  height: 800px;
  width: 100%; }

.blog_texto {
  position: relative;
  right: -700px;
  top: -200px; }

.blog_titulo {
  font-size: 25px;
  letter-spacing: 2px;
  position: relative;
  left: 50px;
  top: -450px;
  margin-bottom: 50px;
  font-weight: bolder;
  text-transform: uppercase; }

.blog__texto {
  width: 200px;
  height: 150px;
  position: relative;
  right: -52px;
  bottom: 450px;
  font-weight: lighter;
  line-height: 30px; }

.blog_boton {
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #f7f9fa;
  color: black;
  width: 200px;
  height: 25px;
  border-radius: 20px;
  border-width: 1px;
  position: relative;
  top: -480px;
  left: 45px; }

.texto_blog {
  font-family: "Mulish", sans-serif;
  position: relative;
  left: 700px;
  top: -720px;
  border-style: none;
  width: 600px; }

.boton_blog {
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #f7f9fa;
  color: black;
  width: 200px;
  height: 25px;
  border-radius: 20px;
  border-width: 1px;
  padding-bottom: 15px; }

.titulo_blog {
  letter-spacing: 3px;
  margin-bottom: 50px;
  font-weight: bolder;
  text-transform: uppercase; }

.texto-blog {
  width: 500px;
  height: 150px;
  font-weight: lighter;
  line-height: 30px; }

.carousel-item {
  transition: 1s; }

/* SECCION NEWSLETTER */
.form_boton {
  position: relative;
  bottom: -75px;
  right: -600px !important;
  font-family: 'Mulish', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #f2f2ecde;
  border-radius: 2px;
  border-width: 0px;
  width: 250px;
  height: 30px;
  color: black; }

.form-size {
  width: 300px; }

.input_email {
  width: 300px;
  position: relative;
  bottom: -30px;
  right: -130px;
  size: 100px;
  text-align: center; }

.form_boton {
  position: relative;
  bottom: -75px;
  left: -148px;
  font-family: 'Mulish', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #f2f2ecde;
  border-radius: 2px;
  border-width: 0px;
  width: 250px;
  height: 30px;
  color: black; }

.form_texto {
  font-weight: lighter; }

/* seccion #barthesa*/
.container-imagenes {
  background-color: #F2F2EC;
  padding-bottom: 60px;
  margin-bottom: 50px; }

.body-imagenes {
  width: 130px;
  height: 160px;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px; }

.body-lovestories {
  font-size: 25px;
  position: relative;
  left: 600px;
  padding-top: 80px; }

.imagen-insta2 {
  margin-left: 180px; }

.imagen-insta4 {
  margin-left: 20px; }

.imagen-insta5 {
  margin-left: -60px; }

.imagen-insta6 {
  margin-left: 190px;
  margin-top: 10px; }

.imagen-insta9 {
  margin-top: 10px;
  margin-left: 110px; }

.imagen-insta7 {
  margin-left: 30px;
  margin-top: 10px; }

.imagen-insta8 {
  margin-left: -50px;
  margin-top: 10px; }

/*paginas sleep sport intimates*/
.body-pjpadding {
  padding-bottom: 30px; }

/*pagina nosotras*/
.img-nosotras {
  width: 450px;
  height: 650px;
  margin-top: 40px; }

.card-nosotras {
  width: 400px;
  height: 600px; }

.card-texto {
  font-size: 15px !important;
  justify-content: end;
  font-family: 'Mulish', sans-serif;
  font-weight: lighter; }

.card-titulo {
  font-family: 'Mulish', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  position: relative;
  right: -20px;
  padding-bottom: 30px; }

.back-color {
  background-color: #F2F2EC !important; }

/* FOOTER */
.footer-estilo {
  font-family: 'Mulish', sans-serif;
  margin-bottom: -100px;
  background-color: black;
  color: #f2f2ecde;
  padding-top: 30px;
  margin-top: 100px; }

.footer-boton {
  background-color: #f2f2ecde;
  width: 400px;
  color: black;
  border-color: #f2f2ecde;
  font-size: 15px; }

.footer-boton:hover {
  background-color: black;
  color: #f2f2ecde;
  border-color: black; }

form p {
  font-weight: lighter;
  position: relative;
  right: -60px; }

.emoji-corazon {
  position: relative;
  right: -120px;
  padding-bottom: 20px;
  padding-top: 2px; }

.footer-mail {
  position: relative;
  left: 550px;
  font-weight: bold;
  padding-top: 80px; }

.footer-direccion {
  position: relative;
  left: 450px;
  font-weight: bold; }

.footer-serviciocliente {
  position: relative;
  left: 100px; }

.footer-lineafinal {
  padding-top: 500px; }

.emojis-finales {
  color: #f2f2ecde;
  position: relative;
  left: 575px; }

@media screen and (max-width: 600px) {
  .container-imagenes {
    width: 500px; }
  .footer-serviciocliente {
    font-size: 10px;
    padding-left: -300px; }
  .footer-aboutus {
    font-size: 10px; }
  .titulo-serviciocliente {
    font-size: 12px; }
  .titulo-aboutus {
    font-size: 12px; }
  .suscribite {
    font-size: 12px; }
  .recibi {
    font-size: 11px;
    position: relative;
    left: 8px; }
  .emoji {
    font-size: 11px;
    position: relative;
    left: 50px; }
  .email {
    width: 300px; }
  .send {
    position: relative;
    bottom: -50px;
    left: -130px; }
  .contacto {
    font-size: 12px;
    position: relative;
    bottom: -70px;
    left: -100px; }
  .footer-direccion {
    font-size: 11px;
    position: relative;
    bottom: -65px;
    left: 370px; }
  .imagen1 {
    position: relative;
    left: -100px; }
  .imagen2 {
    position: relative;
    left: 160px;
    bottom: 260px; }
  .imagen3 {
    position: relative;
    left: 60px;
    top: -300px; }
  .imagen4 {
    position: relative;
    top: -560px;
    left: 320px; }
  .imagen5 {
    position: relative;
    top: -500px;
    left: -100px; }
  .imagen6 {
    position: relative;
    top: -670px;
    left: 160px; }
  .imagen7 {
    position: relative;
    top: -620px;
    left: 60px; }
  .imagen8 {
    position: relative;
    top: -790px;
    left: 320px; }
  .titulo-imagenes {
    position: relative;
    left: 100px; }
  .intimates-button {
    position: relative;
    top: -1800px; }
  .sport-button {
    position: relative;
    top: -1200px; }
  .sleep-button {
    position: relative;
    top: -600px; }
  .header-contenedor {
    max-width: 600px; }
  .header_logo {
    position: relative;
    right: 150px; }
  .header-menu {
    background-color: white;
    width: 500px;
    position: relative;
    bottom: -40px;
    left: 200px;
    color: black;
    display: flex;
    justify-content: space-between; }
  .banner {
    width: 700px;
    height: 400px;
    position: relative;
    right: -50px; }
  .intimates_imagenes_bloque {
    position: relative;
    right: -100px; }
  .explore {
    position: relative;
    right: -100px; }
  .explore_collection {
    display: flex;
    flex-direction: column;
    position: relative;
    right: -100px; }
  .img_intimates {
    width: 550px;
    height: 700; }
  .boton_intimates {
    position: relative;
    right: -400px;
    top: 500px; }
  .img_sport {
    width: 550px;
    height: 700px; }
  .img_sleep {
    width: 550px;
    height: 700px; }
  .fotoblog {
    width: 750px;
    height: 1000px; }
  .blog_texto {
    position: relative;
    right: -300px;
    top: 50px; }
  .blog__texto {
    font-weight: bold; }
  .imgfinales {
    width: 600px;
    position: relative;
    right: -130px;
    bottom: -450px; }
  .newsletter {
    position: relative;
    bottom: -300px;
    right: -110px; }
  .footer_caja {
    bottom: -500px; }
  footer {
    width: 790px;
    height: 300px;
    position: relative;
    right: -40px; }
  .footer_menu {
    display: flex;
    flex-direction: column;
    justify-content: start; }
  .footer_cambios {
    position: relative;
    right: -50px; }
  .footer_preguntas {
    position: relative;
    right: -50px; }
  .footer_talle {
    position: relative;
    right: -50px; }
  .footer_contactanos {
    position: relative;
    right: -50px; }
  .footer_contactos {
    position: relative;
    top: -100px;
    right: 200px; }
  .footer_redes {
    left: 300px; } }

/* aqui declaro variables */
