/* FOOTER */
.suscribite{
    width: 300px;
}

.footer-estilo{
    font-family: 'Mulish', sans-serif;
    margin-bottom: -100px;
    background-color: black;
    color: #f2f2ecde;
    padding-top: 10px;
    margin-top: 100px;
}
.footer-boton{
    background-color: #f2f2ecde;
    width: 400px;
    color: black;
    border-color: #f2f2ecde;
    font-size: 15px;
}
.footer-boton:hover{
    background-color: black;
    color:#f2f2ecde;
    border-color: black;
}
form p{
    font-weight: lighter;
    position: relative;
    right: -60px;
}
.emoji-corazon{
    position: relative;
    right: -120px;
    padding-bottom: 20px;
    padding-top: 2px;
}
.footer-mail{
    position: relative;
    left: 550px;
    font-weight: bold;
    padding-top: 80px;
}
.footer-direccion{
    position: relative;
    left: 450px;
    font-weight: bold;
}
.footer-serviciocliente{
    position: relative;
    left: 100px;
}
.footer-lineafinal{
    padding-top: 500px;
}
.emojis-finales{
    color: #f2f2ecde;
    position: relative;
    left: 575px;
}
.footer-aboutus{
    position: relative;
    left: 50px;
}








