@media screen and (max-width: 600px) {
    .container-imagenes{
        width: 500px;
    }
    
    
    .imagen1{
        position: relative;
        left: -100px;
        width: 150px;
        height: 190px;
    }
    .imagen2{
        position: relative;
        left: 160px;
        bottom: 290px;
        @extend .imagen1

    }
    .imagen3{
        position: relative;
        left: 60px;
        top: -300px;       
    }
    .imagen4{
        position: relative;
        top: -560px;
        left: 320px;
    }
    .imagen5{
        position: relative;
        top: -500px;
        left: -100px;
    }
    .imagen6{
        position: relative;
        top: -670px;
        left: 160px;
    }
    .imagen7{
        position: relative;
        top: -620px;
        left: 60px;
    }
    .imagen8{
        position: relative;
        top: -790px;
        left: 320px;
    }
   
    .titulo-imagenes{
        position: relative;
        left: 100px;
    }
    .intimates-button{
        position: relative;
        top: -1800px;
    }
    .sport-button{
        position: relative;
        top: -1200px;
    }
    .sleep-button{
        position: relative;
        top: -600px;
    }
 /*header*/

    .header-iniciotexto{
        font-size: 10px;
        
    }
    .logo{
        position: relative;
        left: -50px;
    }

    /*new in*/
    .intimates{
        position: relative;
        left: -100px;
    }
    .intimates_rome{
        visibility: hidden;
    }
    .intimates_hazel{
       visibility: hidden; 
    }
    .intimates_roomie{
        visibility: hidden;
    }
    .intimates_lee{
        position: relative;
        left: 170px;
        top: -150px;
        width: 90px;
        height: 150px;
    }
    .intimates_theo{
        width: 90px;
        height: 150px;
        position: relative;
        left: 20px;
    }
    .intimates_theo_texto{
        visibility: hidden;
    }
    .intimates_lee_texto{
        visibility: hidden;
    }
    .intimates_rome_texto{
        visibility: hidden;
    }
    .intimates_hazel_texto{
        visibility: hidden;
    }
    .intimates_roomie_texto{
        visibility: hidden;
    }
    .col-hidden{
        display: none;
    }
    .explore{
        padding-top: 10px;
        position: relative;
        left: -100px;
    }
    .container-imagenes{
        position: relative;
        left: -80px;
    }
    .container-botones{
        position: relative;
        left: -80px;
    }
    .prueba{
        visibility: visible;
       
    }



    

   

        
    .header-contenedor{
      max-width: 600px;
    }
    .header_logo {
        position: relative;
        right: 150px;}
    .header-menu{
        background-color: white;
        width: 500px;
        position: relative;
        bottom: -40px;
        left: 200px;
        color: black;
        display: flex;
        justify-content: space-between;
    }    

    .banner{
       width: 700px;
       height: 400px;
       position: relative;
       right: -50px;
    }

    .intimates_imagenes_bloque{
        position: relative;
        right: -100px;
    
    }
    

   .explore{
       position: relative;
       right: -100px;
   }
   .explore_collection{
       display: flex;
       flex-direction: column;
       position: relative;
       right: -100px;
   }
   
   
  .img_intimates{
      width: 550px;
      height: 700;
  }

    .boton_intimates{
      position: relative;
      right: -400px;
      top: 500px;

  }

  .img_sport{
    width: 550px;
    height: 700px;
}

  .img_sleep {
      width: 550px;
      height: 700px;
  }
 .fotoblog{
     width: 750px;
     height: 1000px;
 }
 .blog_texto{
     position: relative;
     right: -300px;
     top: 50px;
 }
 .blog__texto{
     font-weight: bold;
 }

 .imgfinales{
     width: 600px;
     position: relative;
     right: -130px;
     bottom: -450px;
 }

 /*sleep*/
.sleep-responsive{
    position: relative;
    left: -70px;
 }
 .noe-padding{
     padding-bottom: 30px;
 }
 
 /*sport*/
 
 /*nosotras*/ 
 .img-nosotras{
     position: relative;
     top: -200px;
     left: 30px;
 }


/*footer*/
.footer-aboutus{
    visibility: hidden;
    
}
.titulo-serviciocliente{
    font-size: 15px;
}
.item-serviciocliente{
    font-size: 12px;
}
.suscribite{
    font-size: 12px;
    width: 100%;
    margin-right: 100%;
    text-align:center;
    
}
.recibi{
    font-size: 11px;
    position: relative;
    left: 20px;
}
.emoji{
    font-size: 12px;
    position: relative;
    left: 65px;
    top: -20px;
}
.send{
    position: relative;
    top: 30px;
    left: -145px;   
}

.form-control{
    width: 180px;
    position: relative;
    top: -20px;
    height: 40px;
}
.contacto{
    position: relative;
    left: -370px;
    font-size: 12px;
}
.footer-direccion{
    position: relative;
    left: 100px;
    font-size: 12px;
}
.emojis-finales{
    position: relative;
    left: 205px;
    font-size: 9px;
}
/*nosotras*/
.img-nosotras{
    position: relative;
    top: -200px;
}

.padding-explore{
    padding-bottom: 20px;
}

 
}
/*sleep*/
.sleep-responsive{
   position: relative;
   left: -70px;
}
.noe-padding{
    padding-bottom: 30px;
}

/*sport*/

/*nosotras*/

